PORT=8000
HOST=0.0.0.0
ALLOWED_HOSTS=127.0.0.1,localhost,0.0.0.0

DB_USERNAME=admin
DB_PASSWORD=admin
DB_NAME=trumpet-cloud
DB_HOST=cloud-postgres
DB_PORT=5432

TC_FL_CORE_BASE_URL=http://host.docker.internal:8000
LISTENER_WEBHOOK_URL=http://host.docker.internal:5000/
COORDINATOR=172.19.0.2:8080

DO_ENDPOINTS=http://host.docker.internal:9000
