ENVIRONMENT=production
PORT=8000
HOST=0.0.0.0
ALLOWED_HOSTS=127.0.0.1,localhost,0.0.0.0
TRUMPET_CLOUD_WEBSITE_HOST=http://localhsot:3000
WHOAMI_HOST=your-domain.com

DB_USERNAME=admin
DB_PASSWORD=admin
DB_NAME=trumpet-cloud
DB_HOST=cloud-postgres
DB_PORT=5432

JWT_SECRET=my_secret_key
JWT_ALGORITHM=HS256
JWT_EXPIRY=3600

TC_FL_CORE_BASE_URL=http://host.docker.internal:8000
LISTENER_WEBHOOK_URL=http://host.docker.internal:9030
COORDINATOR=host.docker.internal:8080

DO_ENDPOINTS=http://host.docker.internal:9000
LOGIC_PATH=domain_layer/logics

OPENFGA_POSTGRES_DB=openfga
OPENFGA_POSTGRES_ADMIN_USER=admin
OPENFGA_POSTGRES_ADMIN_USER_PASSWORD=admin
OPENFGA_API_URL=http://openfga:8080
OPENFGA_STORE_ID=<OPENFGA_STORE_ID>
OPENFGA_MODEL_ID=<OPENFGA_MODEL_ID>

EMAIL_HOST=email_server_url
EMAIL_PORT=2525
EMAIL_USERNAME=email_username
EMAIL_PASSWORD=email_password
SENDER_EMAIL=sender_email_address
EMAIL_SUBJECT="Trumpet Cloud"

FILE_UPLOAD_ABS_DIR=files


RATE_LIMIT_REQUEST_PER_WINDOW=100
RATE_LIMIT_TIME_WINDOW_IN_SECOND=60
RATE_LIMIT_ALGORITHM=sliding-window

FL_COMMUNICATION_PORT=8081

PER_PAGE=10

AZURE_CONNECTION_STRING=endpoint=<azure_connection_string>
AZURE_SENDER_EMAIL=DoNotReply@technovativesolutions.co.uk
EMAIL_SERVICE_TYPE=AZURE

MODELS_FOLDER=adapters/wrap_orm_adapters/models

FL_TOKEN_EXPIRY=3600
FL_AGG_TOKEN=fl_agg_token

INITIAL_ADMIN_EMAIL=admin@trumpetproject.eu
INITIAL_ADMIN_PHONE=012345678901
INITIAL_ADMIN_FIRST_NAME=Trumpet
INITIAL_ADMIN_LAST_NAME=Admin
INITIAL_ADMIN_ADDRESS=Europe
