PORT=8000
HOST=0.0.0.0
ALLOWED_HOSTS=127.0.0.1,localhost,127.0.0.1:5500,0.0.0.0,http://165.22.108.5

DB_USERNAME=admin
DB_PASSWORD=admin
DB_NAME=trumpet-cloud
DB_HOST=cloud-postgres
DB_PORT=5432

TC_FL_CORE_BASE_URL=http://165.22.108.5:8000
LISTENER_WEBHOOK_URL=https://8c3e-103-138-146-170.ngrok-free.app/listen
COORDINATOR=172.19.0.2:8080

DO_ENDPOINTS=http://host.docker.internal:9000
